.step{
    display: none;
}

#step1{
    border: 5px solid olivedrab;
    background: gray ;
    max-height: 40%;
    width: 40%;
}

#step2{
    margin-left: 10px;
    max-height: 50%;
    width: 90%;
}

body {
    background-color: darkslategrey;
    display: flex;
}

#response{
    width: 100%;
    height: 80%;
}

#pathway{
    background: antiquewhite;
    max-height: 500px;
    width: 100%;
    overflow: auto;
}

#carrepieton {
    height: 30px;
    width: 30px;
    background: #112233;
}

#carrevelo {
    height: 30px;
    width: 30px;
    background: #5b92e5;
}

#map{
    width: 1000px ;
    height: 1000px;
}

